.header {
    height: 80px;
    background-color: #1C2B35;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

nav.header a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
}
nav.header a:hover{
    color: orange;
}
.signOut-btn{
    margin-left: 15px;
    outline: none;
    border: none;
    background-color: #193141;
}
.signOut-btn:hover{
    outline: none;
    border: none;
    background-color: #0a2b41;
}
.signOut-text{
    color: darksalmon;
    margin-left: 15px;
}